body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    width: 100%;
    
}

/* --------------slideshow-------------- */
nav {
    padding: 1%;
    position: absolute;
    z-index: 6;
    transition: ease-in-out 0.3s;
}

nav img {
    width: 152px;
}

.property {
    width: 100%;
    margin: auto;

}

.property-details {
    font-size: 21px;
    font-family: sans-serif;
}

.property-options {
    border: 1px solid #e6e6e6;
    padding: 20px;
    margin: 20px 0;
}



.slideshow {
    transition: ease-in-out 0.3s;
    background: #262626;
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;

}

.slideshow-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.slideshow-item img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;

}

.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%206%2016%22%20width%3D%226%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m5%201-4%207%204%207%22%20fill%3D%22none%22%20stroke-width%3D%22.8%22%20opacity%3D%22.3%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22square%22%2F%3E%3Cpath%20d%3D%22m5%201-4%207%204%207%22%20fill%3D%22none%22%20stroke-width%3D%22.5%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22square%22%2F%3E%3C%2Fsvg%3E%0A") no-repeat center/30px;
}

.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.progress {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ccc;
    font-family: sans-serif;
}

.play {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 20px;
    margin-bottom: 20px;
    padding: 8px 16px;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
    background: linear-gradient(white, #e6e6e6);
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 4px;
    color: #333;
    border: 1px solid #1a1a1a;
    opacity: .3;
    z-index: 5;
    cursor: default;
    -webkit-transition: all 750ms ease;
    transition: all 750ms ease;
}

[id^="target"]:target~.play {
    -webkit-transition: all 750ms ease;
    transition: all 750ms ease;
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

[id^="target"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
}

*:target~.item-1 {
    opacity: 0;
}

#target-1:target~.item-1 {
    opacity: 1;
}

#target-2:target~.item-2,
#target-3:target~.item-3,
#target-4:target~.item-4 {
    z-index: 3;
    opacity: 1;
}

.item-1 {
    -webkit-animation: slideshow 16s ease 0s infinite;
    animation: slideshow 16s ease 0s infinite;
}

.item-2 {
    -webkit-animation: slideshow 16s ease 4s infinite;
    animation: slideshow 16s ease 4s infinite;
}

.item-3 {
    -webkit-animation: slideshow 16s ease 8s infinite;
    animation: slideshow 16s ease 8s infinite;
}

.item-4 {
    -webkit-animation: slideshow 16s ease 12s infinite;
    animation: slideshow 16s ease 12s infinite;
}

#target-1:target~.item-1 {
    opacity: 1 !important;
    -webkit-animation: none;
    animation: none;
}

#target-1:target~.item-2,
#target-1:target~.item-3,
#target-1:target~.item-4 {
    opacity: 0;
    -webkit-animation: none;
    animation: none;
}

#target-2:target~.item-2 {
    opacity: 1 !important;
    -webkit-animation: none;
    animation: none;
}

#target-2:target~.item-1,
#target-2:target~.item-3,
#target-2:target~.item-4 {
    opacity: 0;
    -webkit-animation: none;
    animation: none;
}

#target-3:target~.item-3 {
    opacity: 1 !important;
    -webkit-animation: none;
    animation: none;
}

#target-3:target~.item-1,
#target-3:target~.item-2,
#target-3:target~.item-4 {
    opacity: 0;
    -webkit-animation: none;
    animation: none;
}

#target-4:target~.item-4 {
    opacity: 1 !important;
    -webkit-animation: none;
    animation: none;
}

#target-4:target~.item-1,
#target-4:target~.item-2,
#target-4:target~.item-3 {
    opacity: 0;
    -webkit-animation: none;
    animation: none;
}

@-webkit-keyframes slideshow {

    0%,
    30%,
    100% {
        opacity: 0;
    }

    5%,
    25% {
        opacity: 1;
    }
}

@keyframes slideshow {

    0%,
    30%,
    100% {
        opacity: 0;
    }

    5%,
    25% {
        opacity: 1;
    }
}

.wave {
    position: absolute;
    z-index: 99;
    top: 189px;
}



/* -------------end-slideshow-------------- */
a{text-decoration:none;}
.rest-of-body {
    transition: ease-in-out 0.3s;
    border: 1px solid #e6e6e6;
    background: #f7f7f7;
    height: 100%;
    width: 60%;
    margin-left: 34px;
}
.sect-image{
    transition: ease-in-out 0.3s;
}

.sect-image img {
    width: 100%;
}
.content{
    color: white;
    position: absolute;
    bottom: -10rem;
    left: 5rem;
    font-size: 27px;
 }
.sect-info {
    transition: ease-in-out 0.3s;

}
.part{
    transition: ease-in-out 0.3s;
    background: #dcdcdc8c;
    margin-bottom: 10px;
    width: 92%;
    padding: 10px 20px;
    box-shadow: 1px 2px 9px 1px #a09999a8;
    margin: 14px auto;
}
h4 {
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
}
.our-Age {
    padding: 10px;
    font-size: 18px;
    text-align: left;
    transition: ease-in-out 0.3s;

}

.our-Age .sm {
    /* margin-top: 45px; */
    text-align: left;
    transition: ease-in-out 0.3s;
}

.sm a {
    transition: ease-in-out 0.3s;
    display: inline-block;
    padding: 10px 32px;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
    background-color: #ffc109;
}

.sm a:hover {
    transform: scale(.8);
}
.rest-of{
    width: 92% !important;
    float: left;
    overflow: hidden;
    margin-top: 14px !important;
    padding: 20px;
    text-align: center;
    /* margin-left: 0 !important; */
}
@media screen and (max-width: 992px) {
    .rest-of-body {
        width: 92% !important;
        margin-left: 18px;
    }
    /* .content {
        color: white;
        position: absolute;
        bottom: 9rem;
        left: 4rem;
        font-size: 25px;
    } */
    .part{
        width: 83%;
    }
    .rest-of{
        width: 85% !important;
    }
  }